<h1>Subtypes</h1>

<p><%= link_to 'New Subtype', new_subtype_path, class: 'btn btn-default' %></p>

<ul>
<%- @subtypes.each do |subtype| %>
  <li><%= link_to subtype.name, subtype %></li>
<% end %>
</ul>
